* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}
label {
  margin-bottom: 0px !important;
}

.myLink {
  text-decoration: none;
  color: black;
  border: 2px solid;
  background-color: white;
  width: 280px;
  height: 270px;
  margin: 0 5px 20px;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
  box-shadow: 10px 5px 5px #e5e4e6;
}

.myLink p {
  overflow: hidden;
}

.cardBody {
  overflow-wrap: break-word;
}
.myLink:hover {
  color: black;
  cursor: pointer;
}
.card-tags {
  display: flex;
  margin-top: auto;
  background-color: #dcdcdc6b;
  overflow: hidden;
}

.card-tag {
  margin: auto 5px;

}
.lambda-logo {
  text-decoration: none;
  color: black;
}
.lambda-logo:hover {
  text-decoration: none;
  color: #97282e;
}
.App {
  display: flex;
}

.no-match {
  background-color: #f2f1f2;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .noteList-header {
  margin: 2% 10% 0 2.5%;
} */

.cardTitle {
  border-bottom: 1px solid black;
}

.noteList-container {
  display: flex;
  background-color: #f2f1f2;
  width: 100%;
  min-height: 100vh;
}
.noteList {
  background-color: #f2f1f2;
  width: 100%;
}

.notes {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-header {
  font-size: 7.6rem;
}

.sidenav-button {
  border: 1px solid black;
  padding: 20px 0%;
  margin-top: 20px;
  text-align: center;
  background-color: #55b9bd;
  color: white;
}
.sidenav-button:hover {
  text-decoration: none;
  color: #55b9bd;
  background-color: white;
}

.save-Btn {
  border: 1px solid black;
  padding: 1% 0%;
  margin-top: 2%;
  text-align: center;
  background-color: #55b9bd;
  color: white;
  width: 234px;
}

.save-Btn:hover {
  cursor: pointer;
}

.sidenav-button:hover {
  cursor: pointer;
}

.sideNav {
  background-color: #d3d2d3;
  min-height: 100vh;
  min-width: 250px;
  display: flex;
  flex-flow: column;
  padding: 15px;
}

.title-input {
  height: 60px;
  width: 600px;
  margin-bottom: 3%;
  padding: 1%;
}

.newNote-form {
  display: flex;
  flex-direction: column;
}

.textBody-input {
  height: 400px;
  padding: 1.5%;
  margin-bottom: 1%;
}

.newNote-container {
  min-height: 100vh;
  width: 100%;
  background-color: #f2f1f2;
  padding: 1.5%;
}

.newNote-header {
  margin-top: 2%;
}

.sideNav-header {
  margin-top: 1.5%;
  font-size: 3.1rem;
  line-height: 1;
}
.noteDetails-container {
  background-color: #f2f1f2;
  padding: 2.5%;
  width: 100%;
  overflow: hidden;
}
.noteDetails {
  display: flex;
  flex-direction: column;
}

.noteDetails-btns {
  width: 106px;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
.noteDetail-button {
  display: inline-block;
  margin-left: 1%;
}
.noteDetail-button:hover {
  cursor: pointer;
}

.tag-list {
  margin-top: 10%;
}
.tag-input {
  height: 38px;
  width: 200px;
  padding: 1%;
  margin-bottom: 3%;
}
.search-input {
  width: 330px;
  height: 40px;
  margin: auto 0;
  border-radius: 30px;
  text-align: center;
}
.btn-clear {
  height: 40px;
  margin: auto 10px;
  background-color: #55b9bd !important;
}
.notelist-header-div {
  display: flex;
  height: 80px;
}
.note-header {
  font-size: 2rem;
  position: absolute;
  left: 1;
}
.padding-container {
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media (max-width: 1147px) {
  .note-header {
    display: none;
  }
}

/* @media (max-width:935px) */

/* @media (max-width: 867px) {
  h1 {
    font-size: 1.5rem;
  }
  .myLink {
    width: 220px;
    margin: 0%;
  }
  .sideNav {
  }
  .noteDetails-container {
    border: 2px solid red;
  } */
/* .noteDetails {
    flex-direction: column-reverse;
  }
  .title-header {
    order: 1;
  }
  .noteDetails-btns {
    flex-direction: column;
    align-self: auto;
  }
  .noteBody {
    font-size: larger;
  }
  .Btn-modal {
    margin-top: 10%;
    width: 300px;
  } */

/* @media (max-width: 527px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .sideNav {
    min-height: 30vh;
  }
  .myLink {
    width: 450px;
    margin: 3%;
  }
  .lambda-logo {
    display: flex;
    justify-content: center;
  }
  .save-Btn {
    padding: 3% 0%;
  }
  .noteDetails-btns {
    margin-left: 15%;
  }
} */
